body{
paddingL:0;
margin:0;
text-decoration:none;
list-style:none;
box-sizing:border-box;
font-family:Brush Script MT;
}
.logo
{
height:100vh;
width:28%;
background-color:white;
float:left;
}
.img
{
height:50%;
width:60%;
margin-top:40%;
margin-left:20%;
}
.signup
{
background-color:#D7BDE2;
height:100vh;
width:72%;
float:right;
font-family: Monaco;
}
.box1
{
left:42%;
top:48px;
width:25%;
border-radius:12px;
text-align:center;
height:4vh;
position:relative;
}
.box2
{
left:42%;
top:45px;
width:25%;
border-radius:12px;
text-align:center;
height:4vh;
position:relative;
}
.box3
{
left:42%;
top:45px;
width:25%;
border-radius:12px;
text-align:center;
height:4vh;
position:relative;
}
.para
{
top:90px;
font-size:17px;
margin-left:24%;
position:relative;
font-family:times new roman;
}
.para1
{
top:90px;
font-size:17px;
margin-left:25%;
position:relative;
}
.para2
{
top:85px;
font-size:17px;
margin-left:24%;
position:relative;
}
#new
{
font-size:15px;
margin-left:27%;
top:85px;
position:relative;
}
.radio
{
top:115px;
left:24%;
position:relative;
size:15px;
}
.btn
{
left:43%;
top:90px;
position:relative;
border-radius:8px;
width:12%;
height:5vh;
}
.link
{
top:240px;
left:17%;
position:relative;
text-decoration:none;
}
.btn1
{
left:18%;
top:238px;
position:relative;
border-radius:8px;
width:13%;
height:5vh;

}